<div class="project" *ngIf="(language | async ) as lang">
  <h1 class="title" *ngIf="(social | async) as socials">
    <ng-container *ngFor="let red of socials">
      <a *ngIf="!red.type"
        [href]="red.href"
        [attr.title-ref]="lang.nick + ' ' +lang.social[red.key]"
        target="_blank">
        <i [class]="red.icon"></i>
      </a>
      <a *ngIf="red.type === 'email'"
        [href]="red.href + lang.email"
        [attr.title-ref]="lang.social.email + ' ' + lang.email"
        target="_blank">
        <i [class]="red.icon"></i>
      </a>
      <a *ngIf="red.type === 'tel'"
        [href]="red.href + lang.phone" [attr.title-ref]="lang.phone"
        target="_blank">
        <i [class]="red.icon"></i>
      </a>
    </ng-container>
  </h1>
</div>
