@import 'fonts';
@import 'material';
@import 'functions';

*{ @include reset; }

body,html{ @include init; }

body{
	@include gradient(radial, (#eeeeee , #757575));

	&.home{
		.navigator_content{
			.navigator{
				ul{
					li{
						a{
							color: #E8EBEC;

							&:before,
							&:after{
								background: #6AB5D4;
							}
						}

						.edge{
							background: #4C9CBD;
						}
					}
				}
			}
			.logo{
				svg{
					circle{
						fill: #6AB5D4;
						stroke: #4C9CBD;
					}
				}
			}
		}
	}

	&.projects{
		.navigator_content{
			.navigator{
				ul{
					li{
						a{
							color: #E8EBEC;

							&:before,
							&:after{
								background: #309034;
							}
						}

						.edge{
							background: #27822B;
						}
					}
				}
			}
			.logo{
				svg{
					circle{
						fill: #309034;
						stroke: #27822B;
					}
				}
			}
		}
	}

	&.colaborations{
		.navigator_content{
			.navigator{
				ul{
					li{
						a{
							color: #E8EBEC;

							&:before,
							&:after{
								background: #04756A;
							}
						}

						.edge{
							background: #026D63;
						}
					}
				}
			}
			.logo{
				svg{
					circle{
						fill: #04756A;
						stroke: #026D63;
					}
				}
			}
		}
	}
	&.contact{
		.navigator_content{
			.navigator{
				ul{
					li{
						a{
							color: #E8EBEC;

							&:before,
							&:after{
								background: #C16E25;
							}
						}

						.edge{
							background: #B3631D;
						}
					}
				}
			}
			.logo{
				svg{
					circle{
						fill: #C16E25;
						stroke: #B3631D;
					}
				}
			}
		}
	}
}

img.responsive-img,
video.responsive-video {
  max-width: 100%;
  height: auto;
}

.navigator_content{
	position: fixed;
	padding: .35rem 0 0;
	top: 0;
	z-index: 2;
	left: 0;
	width: 100%;
	background: rgba(97, 97, 97, 0.0);
	@include box-shadow(0 1px 4px rgba(0,0,0,0));

	.logo{
		max-width: 55px;
		display: inline-block;

		svg{
			width: 55px;
			height: 55px;

			circle{
				fill:#E5E1E1; 
				stroke:#E5E1E1; 
				stroke-width:3px;
				@include transition(all .25s ease);
			}

			text{
				font-size:50px; 
				font-weight:bold;
				fill: #E8EBEC;
				stroke-width:1;
				stroke: transparent;
				font-family: 'Indie Flower', cursive;
				@include transition(all .25s ease);
				@include text-shadow(0 0 2px rgba(0,0,0,.65));

				&:last-child{
					fill: #323232;
				    font-size: 26px;
				    fill: #E8EBEC;
					font-family: 'Pacifico', cursive;
				}
			}
		}
	}

	.navigator{
		float: right;
		margin-top: .6rem;

		ul{
			list-style: none;

			li{
				display: inline-block;
				position: relative;
				overflow: hidden;
				@include border-radius(2px);

				&.active,
				&:hover{

					.edge{
						&.top,
						&.bottom{
							width: 100%;
						}

						&.left,
						&.right{
							height: 100%;
						}
					}

					a{
						color: #111;
						@include text-shadow(0 0 1px transparent);

						&:after,
						&:before{
							width: 50%;
						}
					}

				}

				a{
					color: white;
					display: block;
					font-weight: bold;
					padding: .5rem;
					font-size: 20px;
    				font-weight: 400;
    				letter-spacing: 1px;
					font-family: 'Yanone Kaffeesatz', sans-serif;
					@include transition((color .5s .45s ease, text-shadow .5s ease));
					@include text-shadow(0 0 1px #111);

					&:after,
					&:before{
						position: absolute;
						top: 0;
						width: 0%;
						height: 100%;
						z-index: -1;
						content: '';
						@include transition(width .5s .4s ease);
					}

					&:after{
						left: 0;
						@include gradient(linear, (right, #fff, #E6E2E2)); 
					}
					&:before{
						right: 0;
						@include gradient(linear, (left, #fff, #E6E2E2)); 
					}

					&.active,
					&:hover{
						//@include text-shadow(0 0 2px #323232);
					}
				}

				.edge{
					position: absolute;
					background: rgba(17, 17, 17, 0.82);
					content: '';
					@include transition((width .13s ease,height .13s ease));

					&.right,
					&.left{
						background: #111;
					}

					&.bottom{
						height: 2px;
						bottom: 0;
						left: 0;
						width: 0;
					}

					&.right{
						bottom: 0;
						right: 0;
						height: 0;
						width: 2px;
						@include transition-delay(.14s);
					}
					&.top{
						top: 0;
						right: 0;
						height: 2px;
						width: 0;
						@include transition-delay(.28s);
					}
					&.left{
						top: 0;
						left: 0;
						height: 0;
						width: 2px;
						@include transition-delay(.30s);
					}
				}
			}
		}
	}
}

.section{
	padding: 0;
}

.loader{
	width: 100vw;
	height: 100vh;
	z-index: 999;
	@include gradient(rAdial, (#fff, #aaa));	
	@include center-absolute(fixed);

	.content_points{
		width: 50px;
		height: 50px;
		@include animation(rotate 5s infinite linear);
		@include center-absolute(fixed);
	}

	.point{
		width: 12px;
		height: 12px;
		background: rgba(255,255,255,.4);
		@include center-absolute(absolute);
		@include border-radius(50%);

		&:before{
			position: absolute;
			width: 5px;
			height: 5px;
			background: rgba(255, 255,255, .2);
			content: '';
			@include center-absolute(absolute);
			@include border-radius(50%);
			@include animation(scale 1s infinite linear);
		}

		&:nth-child(1){
			background: rgba(22, 162, 216, 0.85);
			@include animation(point1 2s linear 0s infinite);
		}
		&:nth-child(2){
			background: rgba(193, 39, 39, 0.85);
			@include animation(point2 2s linear 0s infinite);
		}
		&:nth-child(3){
			background: rgba(214, 127, 53, 0.85);
			@include animation(point3 2s linear 0s infinite);
		}
		&:nth-child(4){
			background: rgba(69, 208, 35, 0.85);
			@include animation(point4 2s linear 0s infinite);
		}
		&:nth-child(5){

			&:before{
				display: none;
			}
		}
	}
}

#fp-nav ul li a span, .fp-slidesNav ul li a span{
	background: white;
	@include transition(all .25s ease);
	@include box-shadow(0 0 3px 1px rgba(0, 0, 0, 0.68));
}

@import 'keyframes';