@import 'material';
@import 'functions';

*{ @include reset; }

body,html{ @include init; }

body{
	@include gradient(radial, (#eeeeee , #757575));
}

img.responsive-img,
video.responsive-video {
  max-width: 100%;
  height: auto;
}

.navigator_content{
	position: fixed;
	padding: .35rem 0 0;
	top: 0;
	z-index: 2;
	left: 0;
	width: 100%;
	background: rgba(130,130,130,.4);
	@include box-shadow(0 1px 4px rgba(0,0,0,.3));

	.logo{
		max-width: 55px;
		display: inline-block;
	}

	.navigator{
		float: right;
		margin-top: .6rem;

		ul{
			list-style: none;

			li{
				display: inline-block;

				a{
					color: #212121;
					display: block;
					font-weight: bold;
					padding: .5rem;
					font-size: 16px;
					@include transition((color .3s ease, text-shadow .5s ease));

					&.active,
					&:hover{
						@include text-shadow(0 0 2px #f5f5f5);
					}
				}
			}
		}
	}
}

.section{
	padding: 0;
}

.loader{
	width: 100vw;
	height: 100vh;
	z-index: 999;
	@include gradient(rAdial, (#fff, #aaa));	
	@include center-absolute(fixed);

	.content_points{
		width: 50px;
		height: 50px;
		@include animation(rotate 5s infinite linear);
		@include center-absolute(fixed);
	}

	.point{
		width: 12px;
		height: 12px;
		background: rgba(255,255,255,.4);
		@include center-absolute(absolute);
		@include border-radius(50%);

		&:before{
			position: absolute;
			width: 5px;
			height: 5px;
			background: rgba(255, 255,255, .2);
			content: '';
			@include center-absolute(absolute);
			@include border-radius(50%);
			@include animation(scale 1s infinite linear);
		}

		&:nth-child(1){
			background: rgba(22, 162, 216, 0.85);
			@include animation(point1 2s linear 0s infinite);
		}
		&:nth-child(2){
			background: rgba(193, 39, 39, 0.85);
			@include animation(point2 2s linear 0s infinite);
		}
		&:nth-child(3){
			background: rgba(214, 127, 53, 0.85);
			@include animation(point3 2s linear 0s infinite);
		}
		&:nth-child(4){
			background: rgba(69, 208, 35, 0.85);
			@include animation(point4 2s linear 0s infinite);
		}
		&:nth-child(5){

			&:before{
				display: none;
			}
		}
	}
}

@import 'keyframes';