@import 'fonts';
@import 'variables';
@import 'material';
@import 'functions';

*{ @include reset; }

body,html{ @include init; }

@import 'body';

.fullpage-wrapper{
	@include perspective(2000px);
	@include perspective-origin(center);
	
	.section{
		
		&.active{
			@include transform(translate3d(0,0,0));
			@include transition(transform .25s ease );
		}
	}
}

img.responsive-img,
video.responsive-video {
  max-width: 100%;
  height: auto;
}

@import 'navigator_content';
@import 'loader';
@import 'project';
@import 'preview_page';

.section{
	padding: 0;
}

#fp-nav{ 
    top: 90%;

	ul {
		li {
			a {
				span{
					background: white;
					@include transition(all .5s ease);
					@include box-shadow(0 0 3px 1px rgba(0, 0, 0, 0.68));
				}
			}
		}
	}
}

.fp-section.fp-table, .fp-slide.fp-table {
    height: 100vh !important;
}

@import 'carousel';
@import 'tools';

.overlay-menu{
	position: fixed;
	height: 100vh;
	width: calc(100vw - 170px);
	top: 0;
	left: 0;
	background: rgba(0,0,0,0);
	z-index: -100;
	@include transition(z-index .15s ease);
	
	&.open{
		z-index: 9;
	}
}

@import 'profile_content';
@import 'popup';

#section_collaborations{
	background-image: -webkit-linear-gradient(left, $colaborations-gradient-primary, $colaborations-gradient-secondary, $colaborations-gradient-primary) !important;
	background-image: -moz-linear-gradient(left, $colaborations-gradient-primary, $colaborations-gradient-secondary, $colaborations-gradient-primary) !important;
	background-image: linear-gradient(left, $colaborations-gradient-primary, $colaborations-gradient-secondary, $colaborations-gradient-primary) !important;
}

#section_projects{
	background-image: -webkit-linear-gradient(left, $projects-gradient-primary, $projects-gradient-secondary, $projects-gradient-primary) !important;
	background-image: -moz-linear-gradient(left, $projects-gradient-primary, $projects-gradient-secondary, $projects-gradient-primary) !important;
	background-image: linear-gradient(left, $projects-gradient-primary, $projects-gradient-secondary, $projects-gradient-primary) !important;
}

#section_contact{
	background-image: -webkit-linear-gradient(left, $contact-gradient-primary, $contact-gradient-secondary, $contact-gradient-primary) !important;
	background-image: -moz-linear-gradient(left, $contact-gradient-primary, $contact-gradient-secondary, $contact-gradient-primary) !important;
	background-image: linear-gradient(left, $contact-gradient-primary, $contact-gradient-secondary, $contact-gradient-primary) !important;
}

@import 'queries';
@import 'keyframes';