.loader{
	width: 100vw;
	height: 100vh;
	z-index: 999;
	@include gradient(rAdial, (#fff, #aaa));	
	@include center-absolute(fixed);

	.content_points{
		width: 80px;
		height: 80px;
		@include animation(rotate 5s infinite ease);
		@include center-absolute(fixed);
	}

	.point{
		width: 12px;
		height: 12px;
		background: rgba(255,255,255,.4);
		@include center-absolute(absolute);
		@include border-radius(50%);

		&:before{
			position: absolute;
			width: 5px;
			height: 5px;
			background: rgba(255, 255,255, .2);
			content: '';
			@include center-absolute(absolute);
			@include border-radius(50%);
			@include animation(scale .5s infinite linear);
		}

		&:nth-child(1){
			background: rgba(22, 162, 216, 0.85);
			@include animation(point1 2s .01s linear infinite);
		}
		&:nth-child(2){
			background: rgba(193, 39, 39, 0.85);
			@include animation(point2 2s .01s linear infinite);
		}
		&:nth-child(3){
			background: rgba(214, 127, 53, 0.85);
			@include animation(point3 2s .01s linear infinite);
		}
		&:nth-child(4){
			background: rgba(69, 208, 35, 0.85);
			@include animation(point4 2s .01s linear infinite);
		}
		&:nth-child(5){

			&:before{
				display: none;
			}
		}
	}
}