.profile_content{
	position: fixed;
	bottom: 2rem;
	left: 2rem;
	border: solid 4px white;
	max-width: 60px;
	height: 60px;
    background: transparent;
	cursor: pointer;
	@include border-radius(50%);
	@include box-shadow(0 0 6px rgba(0, 0, 0, 0.452));
	@include transition((transform .25s linear, border .2s linear));
	@include transform(scale(0));
	
	&:hover{
		@include transform(scale(1.2));
		
		img{
			//@include filter(grayscale(80%));
		}
		
		&:before{
			opacity: 1;
			@include transform(translate3d(-10%, -10%, 0) scale(1.5));
		}
		
		&:after{
			display: none;
		}
	}

	&:before{
		width: 120%;
		height: 120%;
		background: rgba(255,255,255,.5);
	    z-index: -1;
	    display: none;
	    opacity: 0;
	    content: '';
		@include transform(translate3d(-10%, -10%, 0) scale(0));
		@include center-absolute(absolute);
		@include border-radius(50%);
		@include transition((opacity .5s ease, transform .3s ease ));
	}
	
	&:after{
		content: '';
		position: absolute;
		top: 120%;
		left: 0;
	    width: 90%;
	    margin: auto;
	    right: 0;
		width: 100%;
		height: 10px;
		@include gradient(radial, (center, #323232, transparent));
		@include transform(rotatex(83deg));
	}

	img{
		max-width: 100%;
		@include border-radius(50%);
		//@include filter(grayscale(100%));
		@include transition(filter .5s linear);
	}
	
	&.scaleOut{
		@include transform(scale(1));
		@include animation(scaleOut .25s 0s linear forwards);
	}
	
	&.scaleIn{
		@include transform(scale(0));
		@include animation(scaleIn .5s .5s linear forwards);
	}
}