$text-3d-color: #323232;
$text-3d-color-hover: #111;

$home-primary: #6AB5D4;
$home-secondary: #4C9CBD;

$projects-primary: #309034;
$projects-secondary: #27822B;

$colaborations-primary: #04756A;
$colaborations-secondary: #026D63;

$contact-primary: #C16E25;
$contact-secondary: #B3631D; 