<div class="preview_page hide-mobile active" [ngClass]="{'load': validationLoad, 'fullscreen': validationFullscreen}">
  <div class="toolbox">
    <span class="resize" (click)="setFullscreen()">
      <i class="fa fa-expand" title="Maximize Screen"></i>
      <i class="fa fa-compress" title="Minimize Screen"></i>
    </span>
  </div>
  <!-- <iframe
    [src]="sanitizer.bypassSecurityTrustResourceUrl(project.url)"
    (load)="loadIframe($event)"></iframe> -->
  <span class="loader_preview" [attr.title]="(language | async)">
    <i class="fa fa-spinner fa-pulse"></i>
  </span>
</div>
