<div
  class="language-content"
  [attr.title-ref]="language.current.label"
  *ngIf="language | async as language">
  <span>
    <a
      href="javascript:void(0)"
      [ngClass]="{ active: language.current.ref === 'es' }"
      [attr.title]="language.current.label"
      (click)="cambiarLenguaje('es')">
      <span><i class="fa fa-language"></i></span>
      {{ language.es.ref }}
    </a>
  </span>
  <span>
    <a
      href="javascript::void(0)"
      [ngClass]="{ active: language.current.ref === 'en' }"
      [attr.title]="language.current.label"
      (click)="cambiarLenguaje('en')">
      <span><i class="fa fa-language"></i></span>
      {{ language.en.ref }}
    </a>
  </span>
</div>