<div
  id="section_portafolio"
  class="section active"
  style="padding: 10vh 0 1rem;min-height: 100vh;"
>
  <div class="skills-wrap" *ngIf="skill$ | async as skill">
    <ng-container *ngIf="language$ | async as language">
      <div class="skills-icon-wrap">
        <i [class]="skill.icon"></i>
      </div>
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <a class="skills-item-link" [routerLink]="['/skills']">
              <i class="fas fa-arrow-left"></i>
              {{ language.global.back }}
            </a>
          </div>
          <div class="col l6 s12">
            <h1 class="skills-title-complete">{{ skill?.title }}</h1>
          </div>
        </div>
        <div class="row">
          <div class="col l6 offset-l6 s12">
            <div class="skills-body">
              <ng-container *ngIf="language.profile.skills[skill.key]; else elseTemplate">
                <div
                  class="skills-item skills-item-detail skills-item-detail"
                  [innerHTML]="language.profile.skills[skill.key]"
                ></div>
              </ng-container>
              <ng-template #elseTemplate>
                <div
                  class="skills-item skills-item-detail skills-item-detail"
                  [innerHTML]="language.profile.skills.default"
                ></div>
              </ng-template>

              <div class="skills-item-graph">
                <div class="skills-item-graph-item">
                  <div>{{ language.global.years }}</div>
                  <b>{{ skill.years }}</b>
                </div>
                <div class="skills-item-graph-item">
                  <div>{{ language.global.percentage }}</div>
                  <b>{{ skill.percentage }}%</b>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
