<div class="popup" *ngIf="language | async as language">
  <div class="popup-header">
    <app-profile-image [open]="true"></app-profile-image>
  </div>
  <div class="popup-body">
    <h1 class="popup-body-title">{{ language.name }}</h1>
    <article>
      <div [innerHTML]="language.biography"></div>

      <app-skills-content></app-skills-content>
    </article>

    <app-social-networkings></app-social-networkings>
  </div>
  <div class="edge bottom"></div>
  <div class="edge right"></div>
  <div class="edge top"></div>
  <div class="edge left"></div>
</div>
