<div class="popup">
  <div class="popup-header"></div>
  <div class="popup-body">
    <h1>Daniel Mauricio Sánchez Ávila</h1>
    <article>
      <p>
        Frontend Developer. I'm from Manizales Caldas in Colombia, currently live in Cali, Valle del Cauca.
      </p>
      <div>
        <div class="project">
          <h1 class="title">
            <a href="http://github.com/dmsanchez86" title-ref="dmsanchez86 On GitHub" target="_blank"><i
                class="fa fa-github"></i></a>
            <a href="http://twitter.com/dmsanchez86" title-ref="dmsanchez86 On Twitter" target="_blank"><i
                class="fa fa-twitter-square"></i></a>
            <a href="http://facebook.com/dmsanchez86" title-ref="dmsanchez86 On Facebook" target="_blank"><i
                class="fa fa-facebook-square"></i></a>
            <a href="https://plus.google.com/109279201439651083225" title-ref="dmsanchez86 On Google+"
              target="_blank"><i class="fa fa-google-plus-square"></i></a>
            <a href="https://co.linkedin.com/in/dmsanchez86" title-ref="dmsanchez86 On LinkedIn" target="_blank"><i
                class="fa fa-linkedin-square"></i></a>
            <a href="http://instagram.com/danysanchez7" title-ref="Follow dmsanchez86 On Instagram" target="_blank"><i
                class="fa fa-instagram"></i></a>
            <a href="mailto:dmsanchez86@misena.edu.co" title-ref="Send Email to dmsanchez86" target="_blank"><i
                class="fa fa-envelope-o"></i></a>
            <a href="tel:+573203768421" title-ref="+(57) 320 376 8421"><i class="fa fa-whatsapp"></i></a>
            <a href="http://freecodecamp.com/dmsanchez86" title-ref="dmsanchez86 On Free Code Camp" target="_blank"><i
                class="fa fa-fire"></i></a>
            <a href="http://codepen.io/dmsanchez86" title-ref="dmsanchez86 On Codepen" target="_blank"><i
                class="fa fa-codepen"></i></a>
          </h1>
        </div>
      </div>
    </article>
  </div>
  <div class="edge bottom"></div>
  <div class="edge right"></div>
  <div class="edge top"></div>
  <div class="edge left"></div>
</div>
