<div class="popup">
  <div class="popup-header">
    <app-profile-image [open]="true"></app-profile-image>
  </div>
  <div class="popup-body">
    <h1 class="popup-body-title">{{ (language | async).name }}</h1>
    <article>
      <p>
        {{ (language | async).biography }}
      </p>

      <div class="skills-wrap" *ngIf="(skills | async) as skills">
        <div>
          <h1 class="skills-title">Skills</h1>
        </div>
        <div class="skills-body center">
          <ng-container *ngFor="let skill of skills">
            <div class="skills-item center">
              <i [class]="skill.icon"></i>
              <span>{{ skill.title }}</span>
            </div>
          </ng-container>
        </div>
      </div>
    </article>

    <app-social-networkings></app-social-networkings>
  </div>
  <div class="edge bottom"></div>
  <div class="edge right"></div>
  <div class="edge top"></div>
  <div class="edge left"></div>
</div>
