<app-atom-loader></app-atom-loader>

<app-navigator></app-navigator>
<app-popup></app-popup>

<div id="main">
  <router-outlet></router-outlet>
</div>

<div class="overlay-menu"></div>

<div class="profile_content" title-ref="Daniel Mauricio Sánchez Ávila">
  <img src="assets/images/profile.jpg">
</div>

<div class="twitter_content">
  <label for="twitter_content" title-ref="Tweets's dmsanchez86">
    <i class="fa fa-twitter"></i>
  </label>
  <input type="checkbox" id="twitter_content" />
  <div class="container close">
    <a class="twitter-timeline" data-lang="en" data-width="300" data-height="400" data-theme="light"
      data-link-color="#19CF86" href="https://twitter.com/dmsanchez86"><i class="fa fa-twitter"
        style="color: white"></i></a>
  </div>
</div>
