<main class="main-app" [ngClass]="{'profile': show_popup | async}">
  <app-atom-loader></app-atom-loader>

  <app-navigator></app-navigator>

  <app-popup *ngIf="show_popup | async"></app-popup>

  <div id="main" class="fullpage-wrapper">
    <router-outlet></router-outlet>
  </div>

  <div class="overlay-menu" (click)="cerrarMenu()"></div>

  <ng-container *ngIf="language | async as language">
    <div class="thanks center" tabindex="1">
      <span>
        {{ language.current.thanks.label }}
      </span>
      <i class="fas fa-brain"></i> 
      <span>
        & 
        <a target="_blank" href="https://angular.io" class="fab fa-angular" title="Angular"></a> 
        <a target="_blank" href="https://angular.io/guide/service-worker-getting-started" class="pwa" title="Progressive Web APP">
          <span>p</span>
          <span>w</span>
          <span>a</span>
        </a> 
      </span>
    </div>
  </ng-container>

  <app-profile-image [home]="true"></app-profile-image>
  
  <app-twitter-content></app-twitter-content>

  <app-language-content></app-language-content>

</main>
