<div class="section active center" id="section_footer" style="padding: 10vh 0 1rem;min-height: 100vh;">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <b class="text-footer">{{(language | async)?.hobbies_bio}}</b>
      </div>
      <div class="col l6 s12">

              <iframe height='454' width='300' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/athletes/19196886/latest-rides/174daaec88363d2a85bf271efe85ec624098d582'></iframe>

        <!-- <iframe height='160' width='300' frameborder='0' allowtransparency='true' scrolling='no'
          src='https://www.strava.com/athletes/19196886/activity-summary/174daaec88363d2a85bf271efe85ec624098d582'></iframe> -->
      </div>
    </div>
  </div>
</div>

