<app-navigator></app-navigator>
<app-popup></app-popup>

<div id="main">
  <div class="section fp-table" id="section_projects">
    <div class="carousel" item="1">
      <div class="item active">
        <div class="project">
          <h1 class="title">
            <a href="Field_3d">Football Field 3D</a>
            <app-tools
              [preview]="true"
              [code]="true"
              [download]="true">
            </app-tools>
          </h1>
        </div>
      </div>
      <div class="item next">
        <div class="project">
          <h1 class="title">
            <a href="http://codepen.io/dmsanchez86/full/WxRovR">Atom Loader</a>
            <div class="tools">
              <div class="tool preview" title-ref="Preview">
                <i class="fa fa-desktop"></i>
              </div>
              <div class="tool code" title-ref="Check code on Codepen ">
                <i class="fa fa-code"></i>
              </div>
            </div>
          </h1>
        </div>
      </div>
      <div class="item">
        <div class="project">
          <h1 class="title">
            <a href="http://codepen.io/dmsanchez86/full/dXqJLv">Form Perspective</a>
            <div class="tools">
              <div class="tool preview" title-ref="Preview">
                <i class="fa fa-desktop"></i>
              </div>
              <div class="tool code" title-ref="Check code on Codepen ">
                <i class="fa fa-code"></i>
              </div>
            </div>
          </h1>
        </div>
      </div>
      <div class="item">
        <div class="project">
          <h1 class="title">
            <a href="http://codepen.io/dmsanchez86/full/yJPAqK">Juris Quiz Animation Logo</a>
            <div class="tools">
              <div class="tool preview" title-ref="Preview">
                <i class="fa fa-desktop"></i>
              </div>
              <div class="tool code" title-ref="Check code on Codepen ">
                <i class="fa fa-code"></i>
              </div>
            </div>
          </h1>
        </div>
      </div>
      <div class="item">
        <div class="project">
          <h1 class="title">
            <a href="http://codepen.io/dmsanchez86/full/xVXjYW">Quotes Machine</a>
            <div class="tools">
              <div class="tool preview" title-ref="Preview">
                <i class="fa fa-desktop"></i>
              </div>
              <div class="tool code" title-ref="Check code on Codepen ">
                <i class="fa fa-code"></i>
              </div>
            </div>
          </h1>
        </div>
      </div>
      <div class="item">
        <div class="project">
          <h1 class="title">
            <a href="http://codepen.io/dmsanchez86/full/OXjROz">Ball Loader</a>
            <div class="tools">
              <div class="tool preview" title-ref="Preview">
                <i class="fa fa-desktop"></i>
              </div>
              <div class="tool code" title-ref="Check code on Codepen ">
                <i class="fa fa-code"></i>
              </div>
            </div>
          </h1>
        </div>
      </div>
      <div class="item">
        <div class="project">
          <h1 class="title">
            <a href="http://codepen.io/dmsanchez86/full/bpYXPN/">Weather App</a>
            <div class="tools">
              <div class="tool preview" title-ref="Preview">
                <i class="fa fa-desktop"></i>
              </div>
              <div class="tool code" title-ref="Check code on Codepen ">
                <i class="fa fa-code"></i>
              </div>
            </div>
          </h1>
        </div>
      </div>
      <div class="item">
        <div class="project">
          <h1 class="title">
            <a href="Perspective_Slider">Perspective Slider</a>
            <div class="tools">
              <div class="tool preview" title-ref="Preview">
                <i class="fa fa-desktop"></i>
              </div>
              <div class="tool code" title-ref="Check code on GitHub ">
                <i class="fa fa-code"></i>
              </div>
              <div class="tool download" title-ref="Download">
                <i class="fa fa-download"></i>
              </div>
            </div>
          </h1>
        </div>
      </div>
      <div class="item">
        <div class="project">
          <h1 class="title">
            <a href="interactive_clock">Interactive Clock</a>
            <div class="tools">
              <div class="tool preview" title-ref="Preview">
                <i class="fa fa-desktop"></i>
              </div>
              <div class="tool code" title-ref="Check code on GitHub ">
                <i class="fa fa-code"></i>
              </div>
              <div class="tool download" title-ref="Download">
                <i class="fa fa-download"></i>
              </div>
            </div>
          </h1>
        </div>
      </div>
      <div class="item">
        <div class="project">
          <h1 class="title">
            <a href="cellphone-3d">Cellphone 3D</a>
            <div class="tools">
              <div class="tool preview" title-ref="Preview">
                <i class="fa fa-desktop"></i>
              </div>
              <div class="tool code" title-ref="Check code on GitHub ">
                <i class="fa fa-code"></i>
              </div>
              <div class="tool download" title-ref="Download">
                <i class="fa fa-download"></i>
              </div>
            </div>
          </h1>
        </div>
      </div>
      <div class="item">
        <div class="project">
          <h1 class="title">
            <a href="Cube-3D---CSS3-and-JavaScript">Cube 3D</a>
            <div class="tools">
              <div class="tool preview" title-ref="Preview">
                <i class="fa fa-desktop"></i>
              </div>
              <div class="tool code" title-ref="Check code on GitHub ">
                <i class="fa fa-code"></i>
              </div>
              <div class="tool download" title-ref="Download">
                <i class="fa fa-download"></i>
              </div>
            </div>
          </h1>
        </div>
      </div>
      <div class="item">
        <div class="project">
          <h1 class="title">
            <a href="list_in_3d">Lists in 3D</a>
            <div class="tools">
              <div class="tool preview" title-ref="Preview">
                <i class="fa fa-desktop"></i>
              </div>
              <div class="tool code" title-ref="Check code on GitHub ">
                <i class="fa fa-code"></i>
              </div>
              <div class="tool download" title-ref="Download">
                <i class="fa fa-download"></i>
              </div>
            </div>
          </h1>
        </div>
      </div>
      <div class="item">
        <div class="project">
          <h1 class="title">
            <a href="cube_3D">Geometry Cube 3D</a>
            <div class="tools">
              <div class="tool preview" title-ref="Preview">
                <i class="fa fa-desktop"></i>
              </div>
              <div class="tool code" title-ref="Check code on GitHub ">
                <i class="fa fa-code"></i>
              </div>
              <div class="tool download" title-ref="Download">
                <i class="fa fa-download"></i>
              </div>
            </div>
          </h1>
        </div>
      </div>
      <div class="item">
        <div class="project">
          <h1 class="title">
            <a href="jurisquizWeb">Juris Quiz Web</a>
            <div class="tools">
              <div class="tool preview" title-ref="Preview">
                <i class="fa fa-desktop"></i>
              </div>
              <div class="tool code" title-ref="Check code on GitHub ">
                <i class="fa fa-code"></i>
              </div>
              <div class="tool download" title-ref="Download">
                <i class="fa fa-download"></i>
              </div>
            </div>
          </h1>
        </div>
      </div>
      <div class="item">
        <div class="project">
          <h1 class="title">
            <a href="ArthritisWeb">Arthritis Web</a>
            <div class="tools">
              <div class="tool preview" title-ref="Preview">
                <i class="fa fa-desktop"></i>
              </div>
              <div class="tool code" title-ref="Check code on GitHub ">
                <i class="fa fa-code"></i>
              </div>
              <div class="tool download" title-ref="Download">
                <i class="fa fa-download"></i>
              </div>
            </div>
          </h1>
        </div>
      </div>
      <div class="item">
        <div class="project">
          <h1 class="title">
            <a href="siema">Basic Angular Template</a>
            <div class="tools">
              <div class="tool preview" title-ref="Preview">
                <i class="fa fa-desktop"></i>
              </div>
              <div class="tool code" title-ref="Check code on GitHub ">
                <i class="fa fa-code"></i>
              </div>
              <div class="tool download" title-ref="Download">
                <i class="fa fa-download"></i>
              </div>
            </div>
          </h1>
        </div>
      </div>
      <div class="item last">
        <div class="project">
          <h1 class="title">
            <a href="https://github.com/dmsanchez86/Mecaut" target="_blank">Mecaut</a>
            <div class="tools">
              <div class="tool code" title-ref="Check code on GitHub ">
                <i class="fa fa-code"></i>
              </div>
              <div class="tool download" title-ref="Download">
                <i class="fa fa-download"></i>
              </div>
            </div>
          </h1>
        </div>
      </div>
      <div class="control left inactive"></div>
      <div class="control right"></div>
    </div>
  </div>
</div>
