<div class="" id="section_projects" style="padding: 0;height: 100vh;overflow-y: auto;">
  <div class="" item="1">
    <div
      *ngFor="let project of (projects | async);let i = index"
      class=""
      [ngClass]="{current: i === 0}">
      <div class="project" style="height: 50vh;width: 98vw;">
        <h1 class="title">
          <a [href]="project?.url" target="_blank">{{ (language | async)[project?.key] }}</a>
          <app-tools [preview]="project?.preview" [code]="project?.code" [download]="project?.download" [app]="project?.app" ></app-tools>
        </h1>
      </div>
    </div>
  </div>
</div>
