<app-navigator></app-navigator>
<app-popup></app-popup>

<div id="main">
  <div class="section fp-table" id="section_collaborations">
    <div class="carousel" item="1">
      <div class="item active">
        <div class="project">
          <h1 class="title">
            <a href="http://gofinanzas.com//" target="_blank">GO Finanzas</a>
            <div class="tools">
              <div class="tool preview" title-ref="Preview">
                <i class="fa fa-desktop"></i>
              </div>
            </div>
          </h1>
        </div>
      </div>
      <div class="item next">
        <div class="project">
          <h1 class="title">
            <a href="http://entrepinoshostal.com/" target="_blank">Entre Pinos</a>
            <div class="tools">
              <div class="tool preview" title-ref="Preview">
                <i class="fa fa-desktop"></i>
              </div>
            </div>
          </h1>
        </div>
      </div>
      <div class="item">
        <div class="project">
          <h1 class="title">
            <a href="http://oralcenter.com.co//" target="_blank">Oral Center</a>
            <div class="tools">
              <div class="tool preview" title-ref="Preview">
                <i class="fa fa-desktop"></i>
              </div>
            </div>
          </h1>
        </div>
      </div>
      <div class="item">
        <div class="project">
          <h1 class="title">
            <a href="http://conexiones.net.co//" target="_blank">Conexiones</a>
            <div class="tools">
              <div class="tool preview" title-ref="Preview">
                <i class="fa fa-desktop"></i>
              </div>
            </div>
          </h1>
        </div>
      </div>
      <div class="item">
        <div class="project">
          <h1 class="title">
            <a href="http://zeusconsultores.com/" target="_blank">Zeus Consultores</a>
            <div class="tools">
              <div class="tool preview" title-ref="Preview">
                <i class="fa fa-desktop"></i>
              </div>
            </div>
          </h1>
        </div>
      </div>
      <div class="item">
        <div class="project">
          <h1 class="title">
            <a href="http://www.iesantodomingosavio.edu.co/" target="_blank">I.E Santo Domingo Savio</a>
            <div class="tools">
              <div class="tool preview" title-ref="Preview">
                <i class="fa fa-desktop"></i>
              </div>
            </div>
          </h1>
        </div>
      </div>
      <div class="item">
        <div class="project">
          <h1 class="title">
            <a href="http://atarrayaitinerante.org/ebookapp/index.html" target="_blank">Antorcha Films</a>
            <div class="tools">
              <div class="tool preview" title-ref="Preview">
                <i class="fa fa-desktop"></i>
              </div>
            </div>
          </h1>
        </div>
      </div>
      <div class="item">
        <div class="project">
          <h1 class="title">
            <a href="http://rakin.org/" target="_blank">Rakin.org</a>
            <div class="tools">
              <div class="tool preview" title-ref="Preview">
                <i class="fa fa-desktop"></i>
              </div>
            </div>
          </h1>
        </div>
      </div>
      <div class="item">
        <div class="project">
          <h1 class="title">
            <a href="https://play.google.com/store/apps/details?id=com.zopp.jurisquiz" target="_blank">JurisQuiz</a>
          </h1>
        </div>
      </div>
      <div class="item">
        <div class="project">
          <h1 class="title">
            <a href="https://play.google.com/store/apps/details?id=com.zopp.artritis" target="_blank">Therapy Tips for
              Arthritis</a>
          </h1>
        </div>
      </div>
      <div class="item">
        <div class="project">
          <h1 class="title">
            <a href="http://zoppagency.com" target="_blank">Zopp Agency</a>
            <div class="tools">
              <div class="tool preview" title-ref="Preview">
                <i class="fa fa-desktop"></i>
              </div>
            </div>
          </h1>
        </div>
      </div>
      <div class="item">
        <div class="project">
          <h1 class="title">
            <a href="http://buffalorepublic.menu" target="_blank">Buffalo Republic</a>
            <div class="tools">
              <div class="tool preview" title-ref="Preview">
                <i class="fa fa-desktop"></i>
              </div>
            </div>
          </h1>
        </div>
      </div>
      <div class="item">
        <div class="project">
          <h1 class="title">
            <a href="http://easynet.com.co" target="_blank">EasyNet</a>
            <div class="tools">
              <div class="tool preview" title-ref="Preview">
                <i class="fa fa-desktop"></i>
              </div>
            </div>
          </h1>
        </div>
      </div>
      <div class="item">
        <div class="project">
          <h1 class="title">
            <a href="http://cliniweb.co" target="_blank">CliniWeb</a>
            <div class="tools">
              <div class="tool preview" title-ref="Preview">
                <i class="fa fa-desktop"></i>
              </div>
            </div>
          </h1>
        </div>
      </div>
      <div class="item">
        <div class="project">
          <h1 class="title">
            <a href="http://clinicadeartritistemprana.com/" target="_blank">Clinica de Artritis</a>
            <div class="tools">
              <div class="tool preview" title-ref="Preview">
                <i class="fa fa-desktop"></i>
              </div>
            </div>
          </h1>
        </div>
      </div>
      <div class="item">
        <div class="project">
          <h1 class="title">
            <a href="http://plastilinaverano.com" target="_blank">Plastilina Verano</a>
            <div class="tools">
              <div class="tool preview" title-ref="Preview">
                <i class="fa fa-desktop"></i>
              </div>
            </div>
          </h1>
        </div>
      </div>
      <div class="item">
        <div class="project">
          <h1 class="title">
            <a href="http://ticserviceit.com" target="_blank">TicServiceIt</a>
            <div class="tools">
              <div class="tool preview" title-ref="Preview">
                <i class="fa fa-desktop"></i>
              </div>
            </div>
          </h1>
        </div>
      </div>
      <div class="item last">
        <div class="project">
          <h1 class="title">
            <a href="http://fincaycafe.com" target="_blank">Finca y Café</a>
            <div class="tools">
              <div class="tool preview" title-ref="Preview">
                <i class="fa fa-desktop"></i>
              </div>
            </div>
          </h1>
        </div>
      </div>
      <div class="control left inactive"></div>
      <div class="control right"></div>
    </div>
  </div>
</div>
