<div class="navigator_content">
  <div class="container">
    <app-logo></app-logo>
    <div class="navigator">
      <div class="button_menu" title="Menu" (click)="buttonMenu()">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <ul id="menu">
        <span class="close_menu">X</span>
        <li *ngFor="let menu of menus; let i  = index">
          <a [href]="menu.href" [ngClass]="{'active': i === 0}">
            <i class="fa fa-{{menu.icon}}"></i>
            {{menu.name}}
          </a>
          <div class="edge bottom"></div>
          <div class="edge right"></div>
          <div class="edge top"></div>
          <div class="edge left"></div>
        </li>
      </ul>
    </div>
  </div>
</div>
