*{ @include reset; }

html{
  width: 100vw;
  height: 100vh;
  display: block;
  overflow: hidden !important;
}
body{
  width: 100vw;
  height: 100vh;
  display: block;
  overflow-y: auto !important;
  overflow-x: hidden !important;
}

svg:not(:root){
	overflow: visible;
}

body{
  overflow: hidden;
  position: relative;  
}

.main-app{
  &.projects{
    --current-main: #df9e28;
    --nav-item: #E8EBEC;
    --nav-item-edge: #b7801b;
    --nav-item-bg: #b7801b;
    --nav-item-bg2: #b7801b;

    --profile-b: #b7801b;
    --btn-mobile: #b7801b;

    --logo-fill: #b7801b;
    --logo-stroke: #b7801b;
    --logo-scale: #b7801b;

    --main: #b7801b;
    --secondary: #e4a010;
    --terciary: #f39f18;

    --fondo: linear-gradient(to bottom, var(--secondary), var(--main));
  }
  &.portafolio{
    --current-main: rgb(0, 137, 123);
    --nav-item: #E8EBEC;
    --nav-item-edge: #026D63;
    --nav-item-bg: #026D63;
    --nav-item-bg2: #026D63;

    --profile-b: #026D63;
    --btn-mobile: #026D63;

    --logo-fill: #026D63;
    --logo-stroke: #026D63;
    --logo-scale: #026D63;

    --main: #04756A;
    --secondary: #026D63;
    --terciary: rgba(0, 137, 123, 0.75);

    --fondo: linear-gradient(to top, var(--secondary), var(--main));
  }
  &.skills{
    --current-main: #33475b;
    --nav-item: #E8EBEC;
    --nav-item-edge: #293949;
    --nav-item-bg: #293949;
    --nav-item-bg2: #293949;

    --profile-b: #293949;
    --btn-mobile: #293949;

    --logo-fill: #293949;
    --logo-stroke: #293949;
    --logo-scale: #293949;

    --main: #293949;
    --secondary: #434750;
    --terciary: #0a497b;

    --fondo: linear-gradient(to bottom, var(--secondary), var(--main));
  }
  &.contact{
    --current-main: #ca3e3d;
    --nav-item: #E8EBEC;
    --nav-item-edge: #a52e2d;
    --nav-item-bg: #a52e2d;
    --nav-item-bg2: #a52e2d;

    --profile-b: #a52e2d;
    --btn-mobile: #a52e2d;

    --logo-fill: #a52e2d;
    --logo-stroke: #a52e2d;
    --logo-scale: #a52e2d;

    --main: #e51d2e;
    --secondary: #a52e2d;
    --terciary: #ca3e3d;

    --fondo: linear-gradient(to top, var(--secondary), var(--main));
  }
  &.hobbies{
    --current-main: #f46a25;
    --nav-item: #E8EBEC;
    --nav-item-edge: #c64a14;
    --nav-item-bg: #c64a14;
    --nav-item-bg2: #c64a14;

    --profile-b: #c64a14;
    --btn-mobile: #c64a14;

    --logo-fill: #c64a14;
    --logo-stroke: #c64a14;
    --logo-scale: #c64a14;

    --main: #c64a14;
    --secondary: #e25f23;
    --terciary: #e25f23;

    --fondo: linear-gradient(to bottom, var(--secondary), var(--main));
  }

  &.profile{
    --overlay: var(--secondary);
    .fullpage-wrapper .section.active{
      transform: translate3d(0, 0, -1000px) scale(.8);
      transform-origin: center;
    }

    .navigator_content{
      transform: translatey(30px);
    }

    .overlay-menu{
      width: 100%;
      z-index: 100;
      cursor: nesw-resize;
      transition: z-index .1s ease, background .15s ease;
    }

    .popup{
      z-index: 111;

      .popup-header .profile_content{
        animation: scaleIn .5s 1s linear forwards;
      }
    }

    .twitter_content{
      display: none;
    }

    .language-content{
      z-index: 115;
      bottom: 5.75rem;
      right: 5.5rem;
      background-color: rgba(0,0,0,.1352);

      @media (min-width: 1200px) {
        right: 7.35rem;
      }
      @media (min-width: 1600px) {
        right: 9rem;
      }

      i,
      a{
        color: #323232;
        text-shadow: 0 0 4px rgba(255,255,255,.5);
      }
    }
  }

  &.menu{
    @include gradient(linear, (to left, #d6d3d3, #fff));

    .fullpage-wrapper .section.active{
      transform: translate3d(0,0,-950px) rotateY(18deg);
      transform-origin: left center;
    }

    .language-content{
      z-index: 11;
    }
  }
}

.fullpage-wrapper{
	@include perspective(1000px);
	@include perspective-origin(center);

	.section.active{
    transform: translate3d(0,0,0);
    transition: transform .25s ease;
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

img.responsive-img,
video.responsive-video {
  max-width: 100%;
  height: auto;
}
