.fp-section.fp-table:not(#section_footer),
.fp-slide.fp-table:not(#section_footer) {
    height: 100vh !important;
}

.text-footer{
	font-size: 1.5rem;
	color: white;
	font-family: var(--font-yanone);
	display: block;
	margin-bottom: 1rem;
}
