.language-content{
  position: fixed;
  bottom: 1.53rem;
  right: 5rem;
  text-align: right;
  transition: 300ms;
  padding: .25rem .5rem;
  border-radius: 4px;
  background: rgb(255 255 255 / 19%);

  &:after{
    position: absolute;
    bottom: 145%;
    right: 0%;
    min-width: 100px;
    content: attr(title-ref);
    color: white;
    opacity: 0;
    padding: .15rem .5rem;
    font-size: 16px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    @include text-shadow(none);
    @include transition((transform .5s ease, opacity .25s ease));
    @include transform(translate3d(0,-10%, 0));
    background-image: -webkit-radial-gradient(center, #111, #323232);
    @include border-radius(4px);
  }

  &:before{
    position: absolute;
    top: -45%;
    left: 0;
    width: 11px;
    margin: auto;
    right: 0;
    border: solid #323232;
    opacity: 0;
    content: '';
    border-width: 5px  5px 0 5px;
    border-color: #323232 transparent transparent transparent;
    @include transition(opacity .25s ease);
  }

  &:hover{
    &:after{
      opacity: 1;
      @include transform(translate3d(0,0,0));
    }

    &:before{
      opacity: 1;
    }
  }

  i,
  a{
    color: white;
  }
  a{
    font-family: Helvetica;
    font-size: .8rem;
    font-weight: bold;
    text-transform: uppercase;

    &.active{
      display: none;
    }
  }
}