.navigator_content{
	position: fixed;
	padding: .5rem 2rem 0;
	top: 0;
	z-index: 2;
	left: 0;
	width: 100%;
	background: rgba(97, 97, 97, 0.0);
	box-shadow: 0 1px 4px rgba(0,0,0,0);
	transform: translatey(0px);
  transition: 200ms ease;

  &.scroll{
    background: rgba(0, 0, 0,.19);
  }

	.logo{
		max-width: 55px;
		display: inline-block;
		position: relative;

		&:after{
			content: '';
			width: 50px;
			height: 50px;
			border: solid 3px var(--logo-scale);
			background: var(--logo-scale);
      z-index: -1;
      opacity: 0;
			border-radius: 50%;
			transform: scale(0);
			transition: opacity .5s ease, transform .3s ease;
			@include center-absolute(absolute);
			top: -8px;
      left: 3px;
		}

		&:hover{
			&:after{
				animation: scale_logo 1.5s 1 .5s ease;
			}

			svg{
				circle{
					animation: circle_resort 1s 1 ease;
				}

				text{
					animation: move_letter 1s 1 ease;
					transform-origin: top center;

					&:last-child{
						transform-origin: center;
						animation: rotate_letter .6s 1 ease;
					}
				}
			}
		}

		&:focus{
			outline: none;

			&:after{
				animation: scale_logo 1.5s infinite ease;
			}
		}

		svg{
			width: 55px;
      height: 55px;
      @media(max-width: 998px){
        transform: scale(.8) translate(0, -6px);
      }

			circle{
				fill: var(--logo-fill);
				stroke: var(--logo-stroke);
				stroke-width:3px;
				transition: all 1s ease;
				transform-origin: center;
			}

			text{
				font-size:50px;
				font-weight:bold;
				fill: var(--logo-text);
				stroke-width:1;
				stroke: transparent;
				font-family: 'Indie Flower', cursive;
				transition: all .25s ease;
				text-shadow: 0 0 2px rgba(0,0,0,.65);

				&:last-child{
					fill: #323232;
          font-size: 26px;
          fill: var(--logo-text);
					font-family: 'Pacifico', cursive;
				}
			}
    }

    @media(max-width: 998px){
      &:after {
        width: 44px;
        height: 44px;
        top: -19px;
      }
    }
	}

	.navigator{
		float: right;

		> ul{
      list-style: none;
      @media(min-width: 998px) {
        margin-top: .35rem;
      }

			li{
				display: inline-block;
        position: relative;
        margin-right: .25rem;
				border-radius: 2px;

				&.active,
				&:focus,
				&:hover{

					.edge{
						&.top,
						&.bottom{
							width: 100%;
						}

						&.left,
						&.right{
							height: 100%;
						}
					}

					a{
						text-shadow: 0 0 1px transparent;

						&:after,
						&:before{
							width: 50%;
						}
					}

				}

				&:focus,
				&:hover{
					.submenu{
						z-index: 3;
						opacity: 1;
						transform: rotate(0deg);
					}
				}

				a{
					color: var(--nav-item);
					display: block;
					font-weight: bold;
					padding: .5rem;
					font-size: 20px;
          font-weight: 400;
          letter-spacing: 1px;
					font-family: 'Yanone Kaffeesatz', sans-serif;
					transition: color .5s .45s ease, text-shadow .5s ease;
					text-shadow: 0 0 1px #111;

					&:after,
					&:before{
						position: absolute;
						top: 0;
						width: 0%;
						height: 100%;
						z-index: -1;
						content: '';
						transition: 300ms ease, width .5s .4s ease;
            background: var(--nav-item-edge);
					}

					&:after{
						left: 0;
					}
					&:before{
            right: 0;
					}

					&:hover,
					&:focus{
						outline: 0;
					}
				}

				.edge{
					position: absolute;
					background: var(--nav-item-edge);
					content: '';
					transition: width .13s ease, height .13s ease;

					&.right,
					&.left{
						background: var(--nav-item-edge);
					}

					&.bottom{
						height: 2px;
						bottom: 0;
						left: 0;
						width: 0;
					}

					&.right{
						bottom: 0;
						right: 0;
						height: 0;
						width: 2px;
						transition-delay: .14s;
					}
					&.top{
						top: 0;
						right: 0;
						height: 2px;
						width: 0;
						transition-delay: .28s;
					}
					&.left{
						top: 0;
						left: 0;
						height: 0;
						width: 2px;
						transition-delay: .30s;
					}
				}

				.submenu{
					position: absolute;
					top: 97%;
					left: 0;
					opacity: 0;
					z-index: -2;
					min-width: 170px;
					overflow: hidden;
					transform-origin: top left;
					transform: rotate(-90deg);
					transition: transform .4s ease, opacity .7s ease;

					ul{
						li{
							display: block;

							a{
								&:after,
								&:before{
									width: 0;
								}
							}

							&:hover{
								a{
									&:after,
									&:before{
										width: 50%;
									}
								}
							}
						}
					}
				}
			}

			.close_menu{
				position: absolute;
				top: 0px;
				right: 10px;
				font-weight: bold;
				display: none;
				color: var(--nav-close);
				font-family: 'Pacifico';
				text-shadow: 0 0 2px rgba(0,0,0,.4);
				transition: all 1s ease;

				&:hover{
					transform: rotate(360deg);
				}
			}
		}

		.button_menu{
			display: inline-block;
      float: right;
      display: none;
      cursor: pointer;
      border-radius: 2px;
      transition: border .5s ease;

      i{
        font-size: 2.35rem;
        transition: 200ms;
        color: var(--btn-mobile);
      }

      &:focus,
      &:hover{
        i{
          transform: scale(1.05);
        }
      }
		}
	}
}
