.overlay-menu{
	position: fixed;
	height: 100vh;
	width: calc(100vw - 170px);
	top: 0;
	left: 0;
	background: var(--overlay);
	z-index: -100;
	transition: z-index .15s ease;

	&.open{
		z-index: 9;
	}
}