:root{
  --pb-popup: 2rem;
  --mh-header: 200px;
}

.popup{
	width: 90vw;
	height: 90vh;
	background: rgba(255,255,255,.0);
	z-index: 111;
	overflow: hidden;
  z-index: -10;
	border-radius: 8px;
	transition: .23s ease;
	@include center-absolute(fixed);

	.edge{
		position: absolute;
		background: #f9f9f9;
		content: '';

		&.bottom{
			height: 8px;
			bottom: 0;
			left: 0;
			width: 0;
		}

		&.right{
			bottom: 0;
			right: 0;
			height: 0;
			width: 8px;
		}
		&.top{
			top: 0;
			right: 0;
			height: 8px;
			width: 0;
		}
		&.left{
			top: 0;
			left: 0;
			height: 0;
			width: 8px;
		}
	}

	&.active{
		@include box-shadow(0 0 6px rgba(50, 50, 50, 0.7));

		.edge{
			&.top,
			&.bottom{
				width: 100%;
			}

			&.left,
			&.right{
				height: 100%;
			}
		}

		.popup-body,
		.popup-header{
			transform: translatey(0%);
		}
  }

  h1{
    color: #323232;
    text-align: center;
    background: white;
    padding: .15rem 1.5rem;
    font-family: 'Yanone Kaffeesatz', sans-serif;
  }

	&-header{
    position: relative;
		min-height: var(--mh-header);
		background-color: rgba(72, 71, 71, 1);
		background-size: 10px 10px;
    background-position: 0 0, 5px 5px;
    background-image: -webkit-linear-gradient(45deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
    background-image: -moz-linear-gradient(45deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
    background-image: -o-linear-gradient(45deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
    background-image: linear-gradient(45deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)), linear-gradient(45deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
    transition: transform .25s ease-in, opacity 200ms 10s ease;
    transform: translatey(-105%);

    .profile_content{
			right: 0;
			left: 0;
			margin: auto;
			bottom: 0;
			top: 0;
			height: 135px;
			max-width: 135px;
			border-width: 4px;

			img{
				@include filter(grayscale(0));
			}
    }

    h1{
      color: #323232;
      text-align: center;
      background: white;
      position: absolute;
      bottom: 4.5%;
      left: 0;
      right: 0;
      margin: auto;
      max-width: 100%;
      width: 325px;
      padding: .15rem 1.5rem;
      font-family: 'Yanone Kaffeesatz', sans-serif;
      border-radius: 6px;
    }
	}

	&-body{
		height: calc(100% - var(--mh-header));
		max-height: calc(100% - var(--mh-header));
    background-color: white;
    padding: 0 2rem var(--pb-popup);
    transition: transform .25s ease-in, opacity 200ms 10s ease;
    transform: translatey(105%);
    overflow: auto;

    article{
      p{
        font-family: 'Yanone Kaffeesatz', sans-serif;
        color: #323232;
        text-align: center;
        font-size: 2rem;
        font-weight: 100;
        padding-top: 2rem;
      }

    }
    .project{
      position: relative;
      width: 100%;
      height: auto;
      right: 0;

      .title{
        width: 500px;
        position: relative;

        > a{
          color: #323232;
          font-size: 35px;
          margin: 0 .15rem;

          i{
            @include text-shadow(none);

            &:hover{
              @include animation(none);
            }
          }

          &[title-ref]{

            &:first-child{
              &:after{
                left: 0%;
              }
            }

            &:last-child{
              &:after{
                left: inherit;
                right: 0%;
                bottom: 97%;
              }
            }


            &:after{
              left: -150%;
              width: 400%;
                top: initial;
              bottom: 99%;
              @include transform(translate3d(0, 10%, 0));
            }
            &:before{
              top: 6%;
              border-width: 5px  5px 0 5px;
              border-color: #323232 transparent transparent transparent;
            }

            &:nth-child(6){
              &:before{
                top: 4%;
              }
            }
          }
        }

        @media(max-width: 768px){
          height: auto;

          > a{
            font-size: 25px;
            line-height: 1;
          }
        }
      }
    }
	}
}
