.profile_content{
	position: fixed;
    bottom: .75rem;
    left: 1.25rem;
    border: solid 3px var(--profile-b);
    max-width: 40px;
    height: 40px;
    background: var(--profile-b);
    cursor: pointer;
    transition: 200ms ease, opacity 100ms 100ms linear;
    border-radius: 50%;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    transform: scale(0);

	&:hover{
    @extend .z-depth-1;
		transform: scale(1.2);

		&:before{
      opacity: 1;
      z-index: 1;
			transform: translate3d(-10%, -10%, 0) scale(1.5);
		}

		&:after{
      z-index: 1;
			opacity: 1;
		}
	}

	&:before{
		width: 120%;
		height: 120%;
		background: rgba(255,255,255,.5);
    z-index: -1;
    display: none;
    opacity: 0;
    content: '';
		transform: translate3d(-10%, -10%, 0) scale(0);
		border-radius: 50%;
		transition: opacity .5s ease, transform .3s ease;
		@include center-absolute(absolute);
	}

  &_home{
    &:after{
      content: attr(title-ref);
    }
  }

	&:after{
		position: absolute;
		bottom: 115%;
		left: 0%;
    margin: auto;
    right: 0;
    min-width: 13rem;
    padding: 0.15rem 0.5rem;
    border-radius: 3px;
    color: white;
    font-weight: 500;
    font-size: 1.1rem;
    opacity: 0;
    z-index: -1;
    font-family: var(--font-yanone);
    text-transform: uppercase;
		@include gradient(radial, (center, #323232, transparent));
		// @include transform(rotatex(83deg));
    transition: 200ms ease;
    background-image: -webkit-radial-gradient(center, #111, #323232);
    border-radius: 4px;
	}

	img{
		max-width: 100%;
		border-radius: 50%;
		//@include filter(grayscale(100%));
		transition: 300ms ease;
	}

	&.scaleOut{
		transform: scale(1);
		animation: scaleOut .25s 0s linear forwards;
	}

	&.scaleIn{
		transform: scale(0);
		animation: scaleIn .5s .5s linear forwards;
	}
}
