.project{
	position: relative;
	width: 100vw;
	height: 100vh;
  text-align: center;

  &-h{
    height: 50vh;
  }
  &-h2{
    height: 25vh;

    .title{
      @media(max-height: 650px) and (min-width: 768px){
        bottom: inherit;
      }
    }
  }
  &-h3{
    height: 15vh;
  }

	.title{
		position: relative;
		height: 70px;
		display: inline-block;
    @include center-absolute(absolute);

		> a{
      font-size: 50px;
			color: white;
			font-family: var(--font-pacifico);
      transition: all .5s ease;
      @include text-3d;

      @media(max-width: 998px){
        font-weight: 500;
      }

			&[title-ref]{
        position: relative;
        margin-right: .5rem;

				&:first-child{
					&:after{
						left: 3%;
					}
				}

				&:last-child{
					&:after{
						left: -200%;
					}
				}

				&:after{
					position: absolute;
					top: 90%;
					left: -100%;
					width: 300%;
					content: attr(title-ref);
					color: white;
					opacity: 0;
					padding: .15rem .5rem;
					font-size: 16px;
          background-image: -webkit-radial-gradient(center,#111,#323232);
				    font-family: var(--font-yanone);
				    @include text-shadow(none);
				    transition: transform .5s ease, opacity .25s ease;
					@include transform(translate3d(0,-10%, 0));
					@include border-radius(4px);
				}

				&:before{
					position: absolute;
					top: 85%;
					left: 0;
					width: 11px;
					margin: auto;
					right: 0;
					border: solid #323232;
					opacity: 0;
					content: '';
					border-width: 0 5px 5px 5px;
					border-color: transparent transparent #323232 transparent;
					transition: opacity .25s ease;
				}

				&:hover{
					&:after{
						opacity: 1;
						@include transform(translate3d(0,0,0));
					}

					&:before{
						opacity: 1;
					}
				}
			}

			i{
				@include text-shadow((
					1px -1px 1px $text-3d-color,
					2px -2px 1px $text-3d-color,
					3px -3px 1px $text-3d-color,
				));

				&:focus,
				&:hover{
					@include animation(text3D 3s infinite linear);
				}
			}
    }

    @media(max-height: 650px) and (min-width: 768px){
      height: 45px;

      > a{
        font-size: 35px;
      }
    }
	}

	img{
		max-width: 200px;
  }

  &:focus,
  &.active,
  &:hover{
    &:not(.project-detail){
      background-color: rgba(255,255,255,.09);
    }
    .title{
      > a{
        @include text-shadow((
            2px -1px 1px $text-3d-color-hover,
            3px -2px 1px $text-3d-color-hover,
            4px -3px 1px $text-3d-color-hover,
            5px -4px 1px $text-3d-color-hover,
            6px -5px 1px $text-3d-color-hover,
            7px -6px 1px $text-3d-color-hover,
            8px -7px 1px $text-3d-color-hover,
            9px -8px 1px $text-3d-color-hover,
            10px -9px 1px $text-3d-color-hover,
            11px -10px 1px $text-3d-color-hover,
            12px -11px 1px $text-3d-color-hover,
          ));
      }

      .tools{
        display: block;

        .tool{
          $k: 0.2;
          @for $i from 1 through 10 {
                  &:nth-child(#{$i}){
                      @include animation(move 500ms 1 #{($k)}s cubic-bezier(0.06, 0.18, 1, 1.11) forwards);
                      $k: $k + $k
                  }
              }
        }
      }
    }
  }
}

.section-detail{
  .tools .tool{
    background: var(--logo-fill);
  }
}

.item-project{
  &-description{
    color: white;
    font-size: 1.75rem;
    font-family: var(--font-yanone);
    &-wrap{
      padding: 2rem 1.5rem;
      border-radius: 5px;
      border: 2px dotted var(--logo-fill);
      background-color: var(--logo-fill);

      @media (max-width: 768px) {
        padding: 1rem;
      }
    }

    @media (max-width: 768px) {
      font-size: 1.45rem;;
    }

    @media (max-width: 500px) {
      font-size: 1.15rem;;
    }
  }

  &-wrap{
    &:focus,
    &:hover{
      outline: none;
    }
  }
}
