.section{
  background-image: var(--fondo);
  background-color: var(--current-main);
  background-size: 100%;
  background-position: center;
  background-position: no-repeat;
}
#section_home{
  background-size: 100%, 100%, contain;
  background-repeat: no-repeat, no-repeat, no-repeat;
}