.thanks{
  position: fixed;
  bottom: 1.35rem;
  padding: .5rem 1rem .5rem;
  border-radius: 7px;
  background-color: rgba(255,255,255,0);
  width: 240px;
  max-width: 100%;
  margin: auto;
  right: 0;
  left: 0;
  transition: 250ms ease;
  color: white;
  font-family: "Yanone Kaffeesatz", sans-serif;
  text-transform: uppercase;

  &:focus{
    outline: none;
  }

  @media (max-width: 550px){
    z-index: 2;
    &:hover,
    &:focus{
      // bottom: 8vh;
      & ~ app-profile-image .profile_content,
      & ~ app-twitter-content .twitter_content,
      & ~ app-language-content .language-content{
        opacity: 0;
      }
    }
  }

  &:focus,
  &:hover{
    background-color: rgba(255,255,255,.15);

    > span{
      opacity: 1;
      display: inline-block;
    }
  }

  > span{
    transition: 250ms ease;
    opacity: 0;
    display: none;
    vertical-align: top;
  }

  .pwa,
  .fa-angular,
  .fa-brain{
    display: inline-block;
    margin: 0 .25rem;
  }
  .fa-angular{
    // color: #e23237;
    background: linear-gradient(to right, #e23237 0%, #b52e31 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .pwa{
    background: linear-gradient(to right, #b52e31, var(--terciary), var(--secondary), #b52e31);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}