.thanks{
  position: fixed;
  bottom: 1.15rem;
  padding: 0.5rem .4rem 0.5rem;
  border-radius: 58px;
  background-color: rgb(255 255 255 / 22%);
  max-width: 100%;
  margin: auto;
  right: 0;
  left: 0;
  transition: 250ms ease, width 250ms 250ms linear;
  color: white;
  font-family: "Yanone Kaffeesatz", sans-serif;
  text-transform: uppercase;
  overflow: hidden;
  width: 2.5rem;
  max-height: 35px;

  &:focus{
    outline: none;
  }

  @media (max-width: 550px){
    z-index: 2;
    &:hover,
    &:focus{
      // bottom: 8vh;
      & ~ app-profile-image .profile_content,
      & ~ app-twitter-content .twitter_content,
      & ~ app-language-content .language-content{
        opacity: 0;
      }
    }
  }

  &:focus,
  &:hover{
    background-color: rgba(255,255,255,.15);
    width: 240px;

    > span{
      opacity: 1;
      width: auto;
      height: auto;
      position: relative;
      transition: 
        width 250ms 250ms linear, 
        height 250ms 250ms linear, 
        opacity 250ms 100ms linear;
    }
  }
  
  > span{
    width: 0;
    height: 0;
    opacity: 0;
    vertical-align: top;
    position: absolute;
  }

  .pwa,
  .fa-angular,
  .fa-brain{
    display: inline-block;
    margin: 0 .25rem;
  }
  .fa-angular{
    // color: #e23237;
    background: linear-gradient(to right, #e23237 0%, #b52e31 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .pwa{
    background: linear-gradient(to right, #ddd, white, #eee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}