:root{
  --current-main: #74b5d4;
  --nav-item: #E8EBEC;
  --nav-item-edge: #4C9CBD;
  --nav-item-bg: #4C9CBD;
  --nav-item-bg2: #4C9CBD;
  --nav-close: #111;

  --profile-b: #4C9CBD;
  --btn-mobile: #1f84ae;

  --logo-fill: #4C9CBD;
  --logo-stroke: #4C9CBD;
  --logo-scale: #4C9CBD;
  --logo-text: #E8EBEC;

  --skill-bg: transparent;
  --skill-b: transparent;
  --skill-g: none;
  --skill-tf: white;

  --main: #6AB5D4;
  --secondary: #4C9CBD;
  --terciary: rgba(116, 181, 212, 0.35);
  --overlay: rgba(0,0,0,0);

  --fondo: -webkit-linear-gradient(132deg, #74b5d4, rgba(16, 181, 212, 0.4), #74b5d4), -webkit-linear-gradient(0deg, #74b5d4, rgba(16, 181, 212, 0.4), #74b5d4), url(assets/images/home.png);

  --pb-popup: 2rem;
  --mh-header: 200px;

  --section-pt: 100px;
  @media (max-width: 998px) {
    --section-pt: 70px;
  }
  @media (max-width: 575px) {
    --section-pt: 45px;
  }
}

$text-3d-color: #323232;
$text-3d-color-hover: #464545;

$home-primary: #6AB5D4;
$home-secondary: #4C9CBD;
$home-alpha: rgba(106, 181, 212, 0.72);
$home-gradient-primary: rgba(116, 181, 212, 0.35);
$home-gradient-secondary: rgba(16, 181, 212, 0.4);

$projects-primary: #309034;
$projects-secondary: #27822B;
$projects-alpha: rgba(48,144,52,0.72);
$projects-gradient-primary: rgba(97, 171, 100, 0.75);
$projects-gradient-secondary: rgba(100, 212, 105, 0.8);

$colaborations-primary: #04756A;
$colaborations-secondary: #026D63;
$colaborations-alpha: rgba(4,117,106,0.72);
$colaborations-gradient-primary: rgba(0, 137, 123, 0.75);
$colaborations-gradient-secondary: rgba(60, 158, 148, 0.8);

$contact-primary: #C16E25;
$contact-secondary: #B3631D; 
$contact-alpha: rgba(193, 110, 37, 0.71); 
$contact-gradient-primary: rgba(214, 127, 53, 0.75);
$contact-gradient-secondary: rgba(230, 134, 52, 0.8);